# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
.output

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# MQTT Broker data and logs
/be/mqtt-broker/data/*
/be/mqtt-broker/log/*
!/be/mqtt-broker/data/.gitkeep
!/be/mqtt-broker/log/.gitkeep

# Misc
.cache/
.temp/
.tmp/
*.tsbuildinfo
*~